.about-me {
  display: flex;
  align-items: center;
  padding: 5rem 1rem;
  position: relative;
}

.about-me-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #d972ff;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.about-me-container:hover {
  box-shadow: 0px 10px 20px rgba(31, 79, 38, 0.2);
}

.about-me-img {
  flex: 1;
  padding: 20px;
}

.about-me-img img {
  max-width: 100%;
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
}

.about-me-img img:hover {
  transform: scale(1.1) rotate(5deg);
}

.about-me-text {
  flex: 2;
  padding: 20px;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transform: scale(1);
  opacity: 0.8;
}

.about-me-text h2 {
  margin-bottom: 20px;
  color: #5efc8d;
}

.about-me-text:hover {
  transform: scale(1.05);
  opacity: 1;
}

.paralax {
  background: url("/parallax-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .about-me {
    padding: 3rem 1rem;
  }

  .about-me-container {
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    padding: 1rem;
  }

  .about-me-img,
  .about-me-text {
    flex: unset;
    width: 100%;
    padding: 10px;
  }

  .about-me-img img {
    max-width: 80%;
    margin: 0 auto;
  }

  .about-me-text h2 {
    font-size: 1.8rem;
  }

  .paralax {
    background-attachment: scroll; /* Disable parallax effect on mobile */
  }
}

@media (max-width: 480px) {
  .about-me {
    padding: 1rem;
  }

  .about-me-container {
    padding: 0.5rem;
  }

  .about-me-img img {
    max-width: 70%;
  }

  .about-me-text h2 {
    font-size: 1.6rem;
  }
}
