.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #180f29;
  color: #e9f1f7;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* border-bottom: 1px solid #d972ff; */
  box-shadow: 0 1px 10px #d972ff;
}

.navbar-left .logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #d972ff;
  text-decoration: none;
  padding: 10px 30px;
}

.navbar-right .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-right .nav-links a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s ease;
}

.navbar-right .nav-links a:hover {
  color: #5efc8d;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }
}
