* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background: #000;
}

section {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  font-size: 1rem;
  color: #fff;
  width: 100%;
  scroll-margin-top: 100px;
  background-color: #180f29;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
}

p {
  font-size: 1.125rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  section {
    padding: 50px;
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  section {
    padding: 20px;
    display: block;
    height: auto;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }
}
